#ifndef arduino_secrets_h
#define arduino_secrets_h

class ArduinoSecrets
{
    public:
      const char* WIFI_SSID = "";
      const char* WIFI_SSID_PASSWORD = "";
};

ArduinoSecrets arduinoSecrets;

#endif
